.top-container, .doodle, .searchbar, .quicklinks, .customize {
  margin-bottom: 25px; }

.flex-centered {
  display: flex;
  align-items: center;
  justify-content: center; }

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: center; }
.navbar-menu-item {
  padding: 0px 10px; }
.navbar-text-container a:hover {
  color: #000;
  text-decoration: underline; }
.navbar-text-item {
  font-size: 13px;
  font-family: "Segoe UI", "Roboto", arial, sans-serif;
  font-weight: 350;
  color: #000;
  text-decoration: none; }
.navbar-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 40px;
  height: 40px; }
.navbar-icon-container:hover {
  background-color: #eee; }

.doodle-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 225px; }

.searchbar .card {
  border-radius: 30px;
  height: 40px;
  width: 50%;
  min-width: 450px; }
.searchbar-container {
  display: flex;
  align-items: center;
  justify-content: center; }
  .searchbar-container div {
    text-align: center;
    padding: 0px 10px; }
.searchbar-field-container {
  flex: 1; }
  .searchbar-field-container input {
    border-style: none; }
  .searchbar-field-container input:focus {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important; }

.quicklinks {
  margin: 0 10%; }
  .quicklinks .col {
    padding: 0px; }
  .quicklinks .col-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4px; }
  .quicklinks .card {
    width: 110px; }
  .quicklinks-container div {
    margin-bottom: 5px; }
  .quicklinks-icon-container {
    /* Displayed only when the mouse is on top of the parent container*/
    display: none;
    text-align: right;
    padding-top: 5px;
    padding-right: 5px;
    /* Size and color ot the icon*/
    font-size: 12px;
    color: #bbb; }
  .quicklinks-avatar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #e4e4e4;
    margin: 0 auto;
    margin-top: 28px; }
  .quicklinks-avatar-container img {
    width: 30px; }
  .quicklinks-text-container {
    text-align: center; }
    .quicklinks-text-container a:hover {
      color: #000; }
  .quicklinks-text {
    font-size: 12px;
    font-family: "Segoe UI", "Roboto", arial, sans-serif;
    font-weight: 600;
    color: #000;
    text-decoration: none; }
  .quicklinks .card:hover {
    background-color: #eee; }
    .quicklinks .card:hover .quicklinks-icon-container {
      display: block; }
    .quicklinks .card:hover .quicklinks-avatar-container {
      margin-top: 0px; }

.customize .card {
  border-radius: 30px;
  width: 110px;
  margin-right: 20px; }
.customize .card:hover {
  background-color: #cce6ff; }
.customize-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px; }
  .customize-container div {
    padding: 0px 5px;
    font-size: 14px;
    font-family: "Segoe UI", "Roboto", arial, sans-serif;
    color: #0066cc; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.noshadow {
  box-shadow: none; }

/*# sourceMappingURL=style.css.map */
